In [1]:
# Importing the pandas library as 'pd'
import pandas as pd

# Importing the numpy library as 'np'
import numpy as np

In [2]:
# Creating dataframe from csv
raw_data =  pd.read_csv('../data/raw_data.csv')

In [3]:
# Drop unneeded columns
raw_data.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
# Rename columns
raw_data.rename(columns={'om':'id', 'yr':'year', 'mo':'month', 'dy':'day', 'tz':'timezone',
                        'st':'state','stf':'state_fips','mag':'magnitude','inj':'injuries',
                        'fat':'fatalities','loss':'prop_loss','slat':'start_lat','slon':'start_lon',
                        'elat':'end_lat','elon':'end_lon','len':'length','wid':'width','ns':'num_of_states'
                        }, inplace=True)

In [5]:
# Drop unneeded columns
raw_data.drop(columns=['month','day'], inplace=True)

In [6]:
# Convert yards to meters
raw_data['width'] = raw_data['width'] * 0.9144

In [7]:
# Convert miles to km
raw_data['length'] = raw_data['length'] * 1.60934

In [8]:
# Change column names to reflect metric changes
raw_data.rename(columns={'width':'width(m)','length':'length(km)'}, inplace=True)

In [10]:
raw_data

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,length(km),width(m),num_of_states,sn,f1,f2,f3,f4,fc,tempc
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,...,25.427572,9.1440,1,1,25,0,0,0,False,10.773611
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,...,3.218680,804.6720,1,1,47,0,0,0,False,10.773611
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,...,0.160934,9.1440,1,1,177,0,0,0,False,10.773611
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,...,0.160934,9.1440,1,1,209,0,0,0,False,10.773611
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,...,3.218680,33.8328,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65149,618356,2019,2019-09-09,15:32:00,America/Chicago,2019-09-09T20:32:00Z,IA,19,NaN,0,...,2.204796,9.1440,1,1,49,0,0,0,False,11.484259
65150,618357,2019,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,19,NaN,0,...,4.602712,9.1440,1,1,49,0,0,0,False,11.484259
65151,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,...,0.160934,9.1440,1,1,37,0,0,0,False,11.484259
65152,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,...,2.510570,73.1520,1,1,37,0,0,0,False,11.484259
65153,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,...,0.305775,9.1440,1,1,37,0,0,0,False,11.484259