In [1]:
# Importing the pandas library as 'pd'
import pandas as pd

# Importing the numpy library as 'np'
import numpy as np

In [2]:
# Creating dataframe with raw data from csv outputed from 1_joining notebook.
raw_data =  pd.read_csv('../data/raw_data.csv')

In [3]:
# Drop unneeded index columns
raw_data.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
# view all column names
raw_data.columns

Index(['om', 'yr', 'mo', 'dy', 'date', 'time', 'tz', 'datetime_utc', 'st',
       'stf', 'mag', 'inj', 'fat', 'loss', 'slat', 'slon', 'elat', 'elon',
       'len', 'wid', 'ns', 'sn', 'f1', 'f2', 'f3', 'f4', 'fc', 'tempc'],
      dtype='object')

In [5]:
raw_data

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,len,wid,ns,sn,f1,f2,f3,f4,fc,tempc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,15.80,10,1,1,25,0,0,0,False,10.773611
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,2.00,880,1,1,47,0,0,0,False,10.773611
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.10,10,1,1,177,0,0,0,False,10.773611
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.10,10,1,1,209,0,0,0,False,10.773611
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,2.00,37,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65149,618356,2019,9,9,2019-09-09,15:32:00,America/Chicago,2019-09-09T20:32:00Z,IA,19,...,1.37,10,1,1,49,0,0,0,False,11.484259
65150,618357,2019,9,9,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,19,...,2.86,10,1,1,49,0,0,0,False,11.484259
65151,618358,2019,9,9,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,...,0.10,10,1,1,37,0,0,0,False,11.484259
65152,618359,2019,9,9,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,...,1.56,80,1,1,37,0,0,0,False,11.484259
65153,618360,2019,9,9,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,...,0.19,10,1,1,37,0,0,0,False,11.484259

In [6]:
# Rename columns
raw_data.rename(columns={'om':'id', 'yr':'year', 'mo':'month', 'dy':'day', 'tz':'timezone',
                        'st':'state','stf':'state_fips','mag':'magnitude','inj':'injuries',
                        'fat':'fatalities','loss':'prop_loss','slat':'start_lat','slon':'start_lon',
                        'elat':'end_lat','elon':'end_lon','len':'length','wid':'width','ns':'num_of_states',
                         'sn':'state_num','fc':'mag_estimated', 'tempc': 'avg_tempc_year'
                        }, inplace=True)

In [7]:
raw_data

,id,year,month,day,date,time,timezone,datetime_utc,state,state_fips,...,length,width,num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,15.80,10,1,1,25,0,0,0,False,10.773611
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,2.00,880,1,1,47,0,0,0,False,10.773611
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.10,10,1,1,177,0,0,0,False,10.773611
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.10,10,1,1,209,0,0,0,False,10.773611
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,2.00,37,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65149,618356,2019,9,9,2019-09-09,15:32:00,America/Chicago,2019-09-09T20:32:00Z,IA,19,...,1.37,10,1,1,49,0,0,0,False,11.484259
65150,618357,2019,9,9,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,19,...,2.86,10,1,1,49,0,0,0,False,11.484259
65151,618358,2019,9,9,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,...,0.10,10,1,1,37,0,0,0,False,11.484259
65152,618359,2019,9,9,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,...,1.56,80,1,1,37,0,0,0,False,11.484259
65153,618360,2019,9,9,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,...,0.19,10,1,1,37,0,0,0,False,11.484259

In [8]:
# Drop unneeded columns
raw_data.drop(columns=['month','day'], inplace=True)

In [9]:
# to improve target audience relevance convert all imperial units to metric
## Convert yards to meters
raw_data['width'] = raw_data['width'] * 0.9144

In [10]:
## Convert miles to meters
raw_data['length'] = raw_data['length'] * 1609.34

In [11]:
## Change column names to reflect metric changes
raw_data.rename(columns={'width':'width(m)','length':'length(m)'}, inplace=True)

In [12]:
# QA / validation - source data indicated property loss prior to 1996 was categorized from 0-9. Validated that no values fall between 0-9. 
## Checking for single numeric values
raw_data[raw_data['prop_loss'] <= 9]

Empty DataFrame
Columns: [id, year, date, time, timezone, datetime_utc, state, state_fips, magnitude, injuries, fatalities, prop_loss, start_lat, start_lon, end_lat, end_lon, length(m), width(m), num_of_states, state_num, f1, f2, f3, f4, mag_estimated, avg_tempc_year]
Index: []

[0 rows x 26 columns]

In [13]:
# Checking for when the nulls occur in the df
raw_data[raw_data['magnitude'].isnull()].sort_values(by='year')

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,length(m),width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year
60110,614401,2016,2016-10-14,10:00:00,America/Chicago,2016-10-14T15:00:00Z,OR,41,NaN,0,...,16.0934,9.1440,1,1,57,0,0,0,False,12.730556
61061,614343,2016,2016-09-01,16:30:00,America/Chicago,2016-09-01T21:30:00Z,NM,35,NaN,0,...,611.5492,18.2880,1,1,23,0,0,0,False,12.730556
61029,614341,2016,2016-08-29,13:31:00,America/Chicago,2016-08-29T18:31:00Z,TX,48,NaN,0,...,981.6974,45.7200,1,1,45,0,0,0,False,12.730556
60978,614290,2016,2016-08-19,22:50:00,America/Chicago,2016-08-20T03:50:00Z,AL,1,NaN,0,...,144.8406,45.7200,1,1,83,0,0,0,False,12.730556
60965,614277,2016,2016-08-14,11:58:00,America/Chicago,2016-08-14T16:58:00Z,OH,39,NaN,0,...,852.9502,0.9144,1,1,13,0,0,0,False,12.730556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64389,617750,2019,2019-05-23,16:28:00,America/Chicago,2019-05-23T21:28:00Z,TX,48,NaN,0,...,112.6538,9.1440,1,1,445,0,0,0,False,11.484259
64396,617757,2019,2019-05-23,20:32:00,America/Chicago,2019-05-24T01:32:00Z,OK,40,NaN,0,...,804.6700,45.7200,1,1,59,0,0,0,False,11.484259
64397,617758,2019,2019-05-23,20:43:00,America/Chicago,2019-05-24T01:43:00Z,OK,40,NaN,0,...,804.6700,68.5800,1,1,59,0,0,0,False,11.484259
64343,617704,2019,2019-05-21,18:43:00,America/Chicago,2019-05-21T23:43:00Z,NE,31,NaN,0,...,2703.6912,45.7200,1,1,147,0,0,0,False,11.484259
65150,618357,2019,2019-09-09,15:33:00,America/Chicago,2019-09-09T20:33:00Z,IA,19,NaN,0,...,4602.7124,9.1440,1,1,49,0,0,0,False,11.484259

Since the total % of missing magnitude values is very low (less than 0.455843%). Decision made to remove those records from the data set.

In [14]:
# Remove rows with missing values in the 'magnitude' column and reset the index
raw_data = raw_data.dropna(subset=['magnitude'], ignore_index=True)

### replace NaN with avg prop loss for that year 
test to see if keeping prop = nan rows and imputing with median prop loss for the year improves models / results 

use median for prop loss given high number of outliers

In [15]:
# QA: confirm year data type
raw_data.dtypes

id                  int64
year                int64
date               object
time               object
timezone           object
datetime_utc       object
state              object
state_fips          int64
magnitude         float64
injuries            int64
fatalities          int64
prop_loss         float64
start_lat         float64
start_lon         float64
end_lat           float64
end_lon           float64
length(m)         float64
width(m)          float64
num_of_states       int64
state_num           int64
f1                  int64
f2                  int64
f3                  int64
f4                  int64
mag_estimated        bool
avg_tempc_year    float64
dtype: object

In [16]:
# QA / Validation - get expected median value for prop loss by year
years_prop = pd.DataFrame(raw_data.groupby(['year'])['prop_loss'].median()).reset_index()
years_prop
years_prop = years_prop.rename(columns={'prop_loss': 'median_prop_loss_year'})
years_prop.tail(10)

    year  median_prop_loss_year
60  2010                75000.0
61  2011                70000.0
62  2012                50000.0
63  2013                75000.0
64  2014                50000.0
65  2015                50000.0
66  2016                50000.0
67  2017                57500.0
68  2018                50000.0
69  2019                50000.0

In [17]:
# to resolve warning, create a copy of raw_data df then fill annual medians into a new column 'new_prop_loss'
data = raw_data.copy()
data['new_prop_loss'] = data['prop_loss'].fillna(data.groupby('year')['prop_loss'].transform('median'))
data

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year,new_prop_loss
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,...,9.1440,1,1,25,0,0,0,False,10.773611,50000.0
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,...,804.6720,1,1,47,0,0,0,False,10.773611,500000.0
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,...,9.1440,1,1,177,0,0,0,False,10.773611,500000.0
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,...,9.1440,1,1,209,0,0,0,False,10.773611,500000.0
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,...,33.8328,1,1,101,0,0,0,False,10.773611,50000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0,...,18.2880,1,1,29,0,0,0,False,11.484259,50000.0
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0,...,36.5760,1,1,57,0,0,0,False,11.484259,50000.0
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,...,73.1520,1,1,37,0,0,0,False,11.484259,50000.0
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0

In [18]:
# QA: confirm that values for year 2004 show 40000 as prop loss
data.loc[(data['year'] == 2004) & (data['prop_loss'].isnull()), ['year', 'prop_loss', 'new_prop_loss']]

       year  prop_loss  new_prop_loss
45105  2004        NaN        40000.0
45106  2004        NaN        40000.0
45107  2004        NaN        40000.0
45109  2004        NaN        40000.0
45112  2004        NaN        40000.0
...     ...        ...            ...
46903  2004        NaN        40000.0
46904  2004        NaN        40000.0
46905  2004        NaN        40000.0
46907  2004        NaN        40000.0
46914  2004        NaN        40000.0

[1044 rows x 3 columns]

In [19]:
# drop old prop loss column with N/A values
data.drop(columns=['prop_loss'], inplace = True)

In [20]:
data

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year,new_prop_loss
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,...,9.1440,1,1,25,0,0,0,False,10.773611,50000.0
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,...,804.6720,1,1,47,0,0,0,False,10.773611,500000.0
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,...,9.1440,1,1,177,0,0,0,False,10.773611,500000.0
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,...,9.1440,1,1,209,0,0,0,False,10.773611,500000.0
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,...,33.8328,1,1,101,0,0,0,False,10.773611,50000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0,...,18.2880,1,1,29,0,0,0,False,11.484259,50000.0
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0,...,36.5760,1,1,57,0,0,0,False,11.484259,50000.0
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,...,73.1520,1,1,37,0,0,0,False,11.484259,50000.0
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0

In [21]:
#rename prop loss new to prop loss 
data = data.rename(columns={"new_prop_loss": "prop_loss"})
data

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year,prop_loss
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,...,9.1440,1,1,25,0,0,0,False,10.773611,50000.0
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,...,804.6720,1,1,47,0,0,0,False,10.773611,500000.0
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,...,9.1440,1,1,177,0,0,0,False,10.773611,500000.0
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,...,9.1440,1,1,209,0,0,0,False,10.773611,500000.0
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,...,33.8328,1,1,101,0,0,0,False,10.773611,50000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0,...,18.2880,1,1,29,0,0,0,False,11.484259,50000.0
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0,...,36.5760,1,1,57,0,0,0,False,11.484259,50000.0
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,...,73.1520,1,1,37,0,0,0,False,11.484259,50000.0
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,...,9.1440,1,1,37,0,0,0,False,11.484259,50000.0

In [31]:
# Export cleaned dataframe to csv
data.to_csv('../data/clean_df.csv', index=False, )

### normalized data

In [23]:
data.columns

Index(['id', 'year', 'date', 'time', 'timezone', 'datetime_utc', 'state',
       'state_fips', 'magnitude', 'injuries', 'fatalities', 'start_lat',
       'start_lon', 'end_lat', 'end_lon', 'length(m)', 'width(m)',
       'num_of_states', 'state_num', 'f1', 'f2', 'f3', 'f4', 'mag_estimated',
       'avg_tempc_year', 'prop_loss'],
      dtype='object')

In [24]:
data['num_of_states'].value_counts()

num_of_states
1    64317
2      529
3       11
Name: count, dtype: int64

In [25]:
# QA step: confirm drop removed null values in magnitude column
data[data['magnitude'].isnull()].sort_values(by='year')

Empty DataFrame
Columns: [id, year, date, time, timezone, datetime_utc, state, state_fips, magnitude, injuries, fatalities, start_lat, start_lon, end_lat, end_lon, length(m), width(m), num_of_states, state_num, f1, f2, f3, f4, mag_estimated, avg_tempc_year, prop_loss]
Index: []

[0 rows x 26 columns]

In [26]:
pd.set_option('display.max_columns', None)

In [27]:
# normalise continuous numeric values to 0-1 range

# copy the data
df_min_max_scaled = data.copy()
df_min_max_scaled

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,fatalities,start_lat,start_lon,end_lat,end_lon,length(m),width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year,prop_loss
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,0,36.7300,-102.5200,36.8800,-102.3000,25427.5720,9.1440,1,1,25,0,0,0,False,10.773611,50000.0
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,0,34.1700,-78.6000,0.0000,0.0000,3218.6800,804.6720,1,1,47,0,0,0,False,10.773611,500000.0
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,0,37.3700,-87.2000,0.0000,0.0000,160.9340,9.1440,1,1,177,0,0,0,False,10.773611,500000.0
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,0,38.2000,-84.5000,0.0000,0.0000,160.9340,9.1440,1,1,209,0,0,0,False,10.773611,500000.0
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,0,32.4200,-89.1300,0.0000,0.0000,3218.6800,33.8328,1,1,101,0,0,0,False,10.773611,50000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0,0,44.8943,-97.2062,44.9164,-97.1637,4152.0972,18.2880,1,1,29,0,0,0,False,11.484259,50000.0
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0,0,44.7497,-97.2096,44.7813,-97.1620,5149.8880,36.5760,1,1,57,0,0,0,False,11.484259,50000.0
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,0,45.3805,-97.5119,45.3812,-97.5101,160.9340,9.1440,1,1,37,0,0,0,False,11.484259,50000.0
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,0,45.4083,-97.7402,45.4099,-97.7082,2510.5704,73.1520,1,1,37,0,0,0,False,11.484259,50000.0
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,0,45.4261,-97.6842,45.4281,-97.6815,305.7746,9.1440,1,1,37,0,0,0,False,11.484259,50000.0

In [28]:
# apply normalization techniques for each numeric column
columns_list = ['injuries', 'fatalities', 'prop_loss', 'length(m)', 'width(m)', 'avg_tempc_year']

for column in columns_list:
    df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())

In [29]:
df_min_max_scaled

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,fatalities,start_lat,start_lon,end_lat,end_lon,length(m),width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year,prop_loss
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0.000000,0.0,36.7300,-102.5200,36.8800,-102.3000,0.067320,0.002185,1,1,25,0,0,0,False,0.115698,0.000018
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,0.001724,0.0,34.1700,-78.6000,0.0000,0.0000,0.008522,0.192308,1,1,47,0,0,0,False,0.115698,0.000179
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0.000000,0.0,37.3700,-87.2000,0.0000,0.0000,0.000426,0.002185,1,1,177,0,0,0,False,0.115698,0.000179
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0.000000,0.0,38.2000,-84.5000,0.0000,0.0000,0.000426,0.002185,1,1,209,0,0,0,False,0.115698,0.000179
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,0.001724,0.0,32.4200,-89.1300,0.0000,0.0000,0.008522,0.008086,1,1,101,0,0,0,False,0.115698,0.000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0.000000,0.0,44.8943,-97.2062,44.9164,-97.1637,0.010993,0.004371,1,1,29,0,0,0,False,0.406362,0.000018
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0.000000,0.0,44.7497,-97.2096,44.7813,-97.1620,0.013634,0.008741,1,1,57,0,0,0,False,0.406362,0.000018
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0.000000,0.0,45.3805,-97.5119,45.3812,-97.5101,0.000426,0.002185,1,1,37,0,0,0,False,0.406362,0.000018
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0.000000,0.0,45.4083,-97.7402,45.4099,-97.7082,0.006647,0.017483,1,1,37,0,0,0,False,0.406362,0.000018
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0.000000,0.0,45.4261,-97.6842,45.4281,-97.6815,0.000810,0.002185,1,1,37,0,0,0,False,0.406362,0.000018

In [30]:
# Export cleaned dataframe to csv
df_min_max_scaled.to_csv('../data/clean_df_normalized.csv', index=False)

### bin

In [ ]:
# Calculate the median property loss grouped by the 'year' column in the raw_data DataFrame
median_property_loss_by_year = raw_data.groupby(['year'])['prop_loss'].median()

In [ ]:
groups = raw_data.groupby('year')
medians = groups['prop_loss'].median()
medians

In [ ]:
sample = raw_data[(raw_data['year'] == 2016) & (raw_data['magnitude'].isnull())]
avg_mag_yr = raw_data[(raw_data['year'] == 2016)]['magnitude'].mean()

sample

In [ ]:
avg_mag_yr

In [ ]:
sample.fillna(avg_mag_yr)

In [ ]:
nan_mag_df = raw_data[raw_data['magnitude'].isnull()].sort_values(by='year')
# sub2['income'].fillna((sub2['income'].mean()), inplace=True)
nan_mag_df = raw_data.fillna(raw_data['magnitude'].mean())
nan_mag_df[nan_mag_df['magnitude'].isnull()]

In [ ]:
# replace nan's with annual avg
nan_mag_df