In [1]:
# Importing the pandas library as 'pd'
import pandas as pd

# Importing the numpy library as 'np'
import numpy as np

In [2]:
# importing data from csv outputed from 2_cleaning notebook.
data =  pd.read_csv('../data/clean_df.csv')
data

,id,year,date,time,timezone,datetime_utc,state,state_fips,magnitude,injuries,...,length(m),width(m),num_of_states,state_num,f1,f2,f3,f4,mag_estimated,avg_tempc_year
0,192,1950,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,1.0,0,...,25427.5720,9.1440,1,1,25,0,0,0,False,10.773611
1,193,1950,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,3.0,3,...,3218.6800,804.6720,1,1,47,0,0,0,False,10.773611
2,195,1950,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,2.0,0,...,160.9340,9.1440,1,1,177,0,0,0,False,10.773611
3,196,1950,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,1.0,0,...,160.9340,9.1440,1,1,209,0,0,0,False,10.773611
4,197,1950,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,1.0,3,...,3218.6800,33.8328,1,1,101,0,0,0,False,10.773611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64852,618354,2019,2019-09-09,14:37:00,America/Chicago,2019-09-09T19:37:00Z,SD,46,0.0,0,...,4152.0972,18.2880,1,1,29,0,0,0,False,11.484259
64853,618355,2019,2019-09-09,14:39:00,America/Chicago,2019-09-09T19:39:00Z,SD,46,0.0,0,...,5149.8880,36.5760,1,1,57,0,0,0,False,11.484259
64854,618358,2019,2019-09-09,17:55:00,America/Chicago,2019-09-09T22:55:00Z,SD,46,0.0,0,...,160.9340,9.1440,1,1,37,0,0,0,False,11.484259
64855,618359,2019,2019-09-09,19:03:00,America/Chicago,2019-09-10T00:03:00Z,SD,46,1.0,0,...,2510.5704,73.1520,1,1,37,0,0,0,False,11.484259
64856,618360,2019,2019-09-09,19:14:00,America/Chicago,2019-09-10T00:14:00Z,SD,46,0.0,0,...,305.7746,9.1440,1,1,37,0,0,0,False,11.484259